language: java

jdk:
  - oraclejdk8
  
after_success:
  - coveralls

secure: "LGWj4Dr9uNyKkGBnnPB3yE3cyg9yJ9GkIbttGqrKx/2xTpsVrQFgv7oMCSUHjKQs9qUHPKvZ9Bt7o7sIkJrKq5JQIKSuE3/iwoyBrb52q9aD+pl39MKKk1Vn6ghyBttjrT8Z+nV2WU9y7Kpv+P2RSe8JHcr0ktUOQKbMuclMai8="
